@use "../var";
@import "../inputs";
@import "../tables";

h2 {
	color: #666;
	margin: 0 0 20px 0 ;
}
section.fields {
	width: 90%;
	margin: 2% 9% 0 1%;
	.fields--message {
		margin: auto 0;
	}
}
.fields {
	&-row {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		margin: 0 0 1rem 0;
	}
	.heading {
		font-size: 1.5em;
		text-align: left;
		img {
			vertical-align: sub;
			width: 30px;
		}
	}
}
.column {
	display: flex;
	flex-direction: column;
	flex-basis: 100%;
	flex: 1;
}
.label-column {
	flex: 30%;
	label {
		margin: auto 0;
	}
}
.input-column {
	flex: 70%;
}
.remove-device {
	background-color: var.$alert_error;
	&:hover {
		background-color: var.$alert_error;
	}
}
.mfa-list caption {
	font-size: 2em;
	text-align: left;
	img {
		vertical-align: middle;
		width: 35px;
	}
}
.add-mfa {
    background-color: var.$primary;
    border: 0;
    width: 130px;
    cursor: pointer;
    color: #fff;
	font-size: 14px;
	text-decoration: none;
	padding: 6px 0;
	text-align: center;
	display: inline-block;

}
