@use "../var";

.section {
	z-index: 1;
	width: 80%;
	position: relative;
	border-bottom-right-radius: 8px;
	border-bottom-left-radius: 8px;
	left: 50%;
	transform: translateX(-50%);
}
.subscribe {
	color: #fff;
	top: 0;
	font-size: 2.5vh;
	background: #1ABB9C;
	padding: 50px;
	text-align: center;
}
button {
	background: #fff;
	border: 0;
	padding: 10px 20px;
	cursor: pointer;
}
.form-submit {
	display: inline-block;
}
.email-elem {
	display: inline-block;
	input {
		width: 25vw;
		padding: 10px;
	}
}
.faq {
	border-radius: 8px;
	padding: 50px;
	background: #fff;
	margin-bottom: 50px;
	h1 {
		font-weight: 500;
	}
	h2 {
		font-size: 22px;
		color: #1ABB9C;
	}
}
.faq-group {
	display: inline-block;
	width: 32%;
	vertical-align: top;
	margin-right: 1%;
}
.faq-question {
	margin: 10px auto;
	span {
		font-weight: 600;
		cursor: pointer;
		&:before {
			content: "Q. ";
		}
		&:hover {
			color: rgba(17, 138, 114, 0.9);
		}
	}
}
.faq-answer {
	&.open {
		animation: animate 0.5s ease-in-out;
		overflow: hidden;
	}
	&:not(.open) {
		display: none;
	}
	&:before {
		content: "A.";
		color: rgba(17, 138, 114, 0.9);
	}
}
@keyframes 
	animate {
		from {
        opacity: 0;
		min-height: 0;
	}
	to {
		opacity: 1;
		min-height: 100%;
	}
}
