@use "../var";

.show {
	display: block;
}
.hide {
	display: none;
}
.flex-outer,
.flex-inner {
	list-style-type: none;
	padding: 0;
}
.flex-outer {
	margin: 0 auto;
	& > div {
		label {
			font-weight: 300;
			letter-spacing: .09em;
			flex: 1 0 100%;
			flex-direction: row;
			height: fit-content;
		}
		button {
			margin-left: auto;
			padding: 8px 16px;
			border: none;
			background-color: #1ABB9C;
			color: #fff;
			text-transform: uppercase;
			letter-spacing: .09em;
			border-radius: 2px;
			&:hover {
				cursor: pointer;
				background-color: #1ABB9C7a;
				color: #333;
			}
		}
	}
}
.registration-wrapper {
	width: 600px;
	margin: 0 auto;
}
.flex-inner {
	padding: 0 8px;
	justify-content: space-between;
	& > div {
		width: 100px;
	}
}
.flex-outer>li>label+input,
.flex-outer>li>label+textarea,
.flex-outer>li>label+button,
.flex-outer>li>label+select,
.flex-inner {
	margin: 0 0 1.1rem 0;
}
.flex-outer > div input:not([type=checkbox]),
.flex-outer > div select,
.flex-outer > div textarea {
	padding: 15px;
	border-width: 1px;
	border-radius: 6px;
	border-color: #9c9c9c;
	-webkit-box-shadow: 0 8px 6px -6px #bdbdbd;
	-moz-box-shadow: 0 8px 6px -6px #bdbdbd;
	box-shadow: 0 8px 6px -6px #bdbdbd;
	width: 100%;
}
.flex-outer > div input:hover,
.flex-outer > div textarea:hover {
	border-color: #9c9c9c7c;
	-webkit-box-shadow: 0 8px 6px -6px #bdbdbd7c;
	-moz-box-shadow: 0 8px 6px -6px #bdbdbd7c;
	box-shadow: 0 8px 6px -6px #bdbdbd7c;
}
.field-outer {
	flex: 1 0 100%;
	flex-direction: row;
	height: fit-content;
	span {
		font-size: 14px;
		font-weight: 500;
		color: #6a6a6a;
		margin: 2px 0 10px 5px;
	}
}
