scripts/
.vscode/
.vscode*
.git/
.venv/
.cache
.repo/
.terraform/
terraform.*
plans/
**.pyc
**.tf
**.tfstate
.dockerignore
**/__pycache__/
.in
.out
.pylintrc
Makefile
README.md
**/node_modules/
**/build/
icons/
scripts/
**/*.zip
.lh/
