.table-wrapper {
	position: relative;
	overflow: hidden;
	&:after {
		content: "";
		border-radius: 10px 0 0 10px ;
		box-shadow: -5px 0 10px rgba(0, 0, 0, 0.25);
	}
	.table-inner {
		overflow-x: auto;
		&::-webkit-scrollbar {
			-webkit-appearance: none;
			width: 14px;
			height: 14px;
			&-thumb {
				border-radius: 5px;
				border: 1px solid rgba(0, 0, 0, 0.25);
				background-color: var.$secondary_grey_shift;
			}
		}
	}
}
table {
	text-align: center;
	font-size: 12px;
	overflow: hidden;
	color: #212529;
	border-collapse: collapse;
	border: solid 1px var.$grey_lightest;
	width: 98%;

	th, td {
		text-align: center;
		padding: .75rem;
		vertical-align: top;
		border-top: 1px solid var.$grey_lightest;
	}
	th {
		background-color: var.$secondary_light;
		color: #ECF0F1;
	}
	td:first-child {
		font-weight: bold;
	}
	&.striped tbody tr:nth-child(even) td {
		background-color: var.$grey_lightest;
	}
	&.hover tbody tr:hover td {
		background-color: var.$primary_light_alpha20;
	}
	&.actions tbody td:last-child {
		text-align: right;
		width: 10px;
	}
	&.checkboxes tbody td:first-child {
		text-align: left;
		width: 10px;
	}
}

tr a {
	color: #66a3d8;
	display: inline-block;
	text-decoration: none;
	font-weight: 400;
}

@media (min-width: 860px) {
    .table-wrapper {
        overflow: visible;
        box-shadow: none;
    }
    .table-wrapper:after {
        content: none;
    }
}
