td i {
    font-size: 25px;
    color: #34495ef0;
    cursor: pointer;
}

td i:hover {
    color: #1ABB9C;
}

th.actions i {
    font-size: 25px;
    color: #fffffff0;
    cursor: pointer;
}

td.actions {
    min-width: 55px;
}

select {
    height: 32px;
}
textarea {
    height: 80px;
    width: 91%;
}

input, select {
    width: 90%;
}
.choices__list--dropdown {
    width: 94% !important;
}
