.add_keyvalue_values {
    display: inline-block;
    width: 30%;
}
.add_keyvalue_form input {
    display: block;
    height: 24px;
    width: 95%;
    margin-bottom: 2px;
}

.add_keyvalue_form textarea {
    display: inline-block;
    vertical-align: top;
    height: 94px;
    width: 40%;
    padding: 5px;
    border-radius: 5px;
    border: solid 1px #c1c1c1;
}

.add_keyvalue_form button {
    width: 55px;
    height: 106px;
    vertical-align: top;
}

.add_keyvalue_form {
    margin-bottom: 10px;
}