@use "../var";

.wrapper {
	margin: 0 0 0 1%;
}
.setup-section {
	display: inline-block;
	margin: 30px 15px 0 0;
	width: 80%;
	h2 {
		border-bottom: 1px solid #e0e0e0;
		display: -webkit-box;
		display: flex;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		flex-direction: column;
		padding-bottom: 0.75em;
		width: calc(100% - 1.25em);
		font-weight: 300;
	}
	img {
		position: absolute;
		top: 4px;
		right: 4px;
	}
}
button.skip {
	background-color: rgb(42, 63, 83);
	color: #fff;
	position: absolute;
	bottom: 5px;
	right: 5px;
}
.col-2 > div, .col-3 > div, .col-4 > div, .col-5 > div {
	position: relative;
	min-height: 300px;
}
.steps {
	display: inline-block;
	padding-left: 0;
	list-style: none;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 12px;
	line-height: 1;
	margin: 30px auto;
	border-radius: 3px;
	strong {
		font-size: 14px;
		display: block;
		line-height: 1.4;
	}
	&>li {
		position: relative;
		display: block;
		border: 1px solid #ddd;
		padding: 12px 50px 8px 50px;
		width: 140px;
		height: 40px;
	}
	a {
		text-decoration: none;
		color: inherit;
	}
}
.plan-col {
	display: table-cell;
	width: 33%;
}
.generic_content {
	background-color: #fff;
	.generic_head_price {
		background-color: #f6f6f6;
		.generic_head_content .head_bg {
			border-color: #e4e4e4 rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) #e4e4e4;
		}
		.generic_head_content .head span {
			color: #525252;
		}
		.generic_price_tag .price .sign {
			color: #414141;
		}
		.generic_price_tag .price .currency {
			color: #414141;
		}
		.generic_price_tag .price .cent {
			color: #414141;
		}
		.generic_price_tag .month {
			color: #414141;
		}
		.generic_head_content {
			margin: 0 0 50px 0;
			.head_bg {
				border-style: solid;
				border-width: 90px 1411px 23px 399px;
				position: absolute;
			}
			.head {
				padding-top: 40px;
				position: relative;
				z-index: 1;
				span {
					font-size: 28px;
					font-weight: 400;
					letter-spacing: 2px;
					margin: 0;
					padding: 0;
					text-transform: uppercase;
				}
			}
		}
		.generic_price_tag {
			padding: 0 0 20px;
			.price {
				display: block;
				.sign {
					display: inline-block;
					font-family: "Lato",sans-serif;
					font-size: 28px;
					font-weight: 400;
					vertical-align: middle;
				}
				.currency {
					font-family: "Lato",sans-serif;
					font-size: 60px;
					font-weight: 300;
					letter-spacing: -2px;
					line-height: 60px;
					padding: 0;
					vertical-align: middle;
				}
				.cent {
					display: inline-block;
					font-family: "Lato",sans-serif;
					font-size: 24px;
					font-weight: 400;
					vertical-align: bottom;
				}
			}
			.month {
				font-family: "Lato",sans-serif;
				font-size: 18px;
				font-weight: 400;
				letter-spacing: 3px;
				vertical-align: bottom;
			}
		}
	}
	.generic_feature_list ul li {
		color: #a7a7a7;
		span {
			color: #414141;
		}
		&:hover {
			background-color: #E4E4E4;
			border-left: 5px solid #36ccaf;
		}
		&:hover {
			transition: all 0.3s ease-in-out 0s;
			-moz-transition: all 0.3s ease-in-out 0s;
			-ms-transition: all 0.3s ease-in-out 0s;
			-o-transition: all 0.3s ease-in-out 0s;
			-webkit-transition: all 0.3s ease-in-out 0s;
		}
		.fa {
			padding: 0 10px;
		}
	}
	.generic_feature_list ul li {
		border-left: 5px solid transparent;
	}
	.generic_price_btn button {
		color: #fff;
	}
	&.active .generic_head_price .generic_head_content .head_bg, &:hover .generic_head_price .generic_head_content .head_bg {
		border-color: #2a3f53 rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) rgb(42, 63, 83);
		color: #fff;
	}
	&:hover .generic_head_price .generic_head_content .head span, &.active .generic_head_price .generic_head_content .head span {
		color: #fff;
	}
	&:hover .generic_price_btn button, &.active .generic_price_btn button {
		color: #fff;
	}
	.generic_head_price {
		margin: 0 0 20px 0;
	}
	.generic_feature_list ul {
		list-style: none;
		padding: 0;
		margin: 0;
		li {
			font-family: "Lato",sans-serif;
			font-size: 18px;
			padding: 15px 0;
			transition: all 0.3s ease-in-out 0s;
		}
	}
	.generic_price_btn {
		margin: 20px 0 32px;
		button {
			border-radius: 50px;
			-moz-border-radius: 50px;
			-ms-border-radius: 50px;
			-o-border-radius: 50px;
			-webkit-border-radius: 50px;
			display: inline-block;
			font-family: "Lato",sans-serif;
			font-size: 18px;
			outline: medium none;
			min-height: 60px;
			text-decoration: none;
			text-transform: uppercase;
		}
	}
}
.row .table {
	padding: 28px 0;
}
.generic_content {
	overflow: hidden;
	position: relative;
	text-align: center;
}
.generic_content, .generic_content:hover, .generic_content .generic_head_price .generic_head_content .head_bg, .generic_content:hover .generic_head_price .generic_head_content .head_bg, .generic_content .generic_head_price .generic_head_content .head h2, .generic_content:hover .generic_head_price .generic_head_content .head h2, .generic_content .price, .generic_content:hover .price, .generic_content .generic_price_btn button, .generic_content:hover .generic_price_btn button {
	transition: all 0.3s ease-in-out 0s;
	-moz-transition: all 0.3s ease-in-out 0s;
	-ms-transition: all 0.3s ease-in-out 0s;
	-o-transition: all 0.3s ease-in-out 0s;
	-webkit-transition: all 0.3s ease-in-out 0s;
}
.text-center h1, .text-center h1 a {
	color: #7885CB;
	font-size: 30px;
	font-weight: 300;
	text-decoration: none;
}
.demo-pic {
	margin: 0 auto;
	&:hover {
		opacity: 0.7;
	}
}
.price-heading {
	text-align: center;
	h1 {
		color: #666;
		margin: 0;
		padding: 0 0 50px 0;
	}
}
.bottom_btn {
	background-color: #333333;
	color: #ffffff;
	display: table;
	font-size: 28px;
	margin: 60px auto 20px;
	padding: 10px 25px;
	text-align: center;
	text-transform: uppercase;
	&:hover {
		background-color: #666;
		color: #FFF;
		text-decoration: none;
	}
}

@media (min-width: 768px) {
    .steps>li {
        float: left;
    }
    .steps .even {
        background: #ececec;
    }
    .steps .current {
        background-color: #36ccaf;
    }
    .steps li.even + li > span:before {
        border-left-color: #ececec;
    }
    .steps li.even > span:after, .steps li.even > span:before {
        border-left-color: #f8f8f8 ;
    }
    .steps li > span:after, .steps li > span:before {
        content: "";
        display: block;
        width: 0px;
        height: 0px;
        position: absolute;
        top: 0;
        left: 0;
        border: solid transparent;
        border-width: 30px;
    }
    .steps li.next > span:before {
        border-left-color: #36ccaf ;
    }
    .steps li > span:before {
        z-index: 2;
    }
    .steps li:first-child i, .steps li:last-child i {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        border: solid transparent;
        border-left-color: #f8f8f8;
        border-width: 30px;
    }
    .steps li:last-child i {
        left: auto;
        right: -30px;
        border-left-color: transparent;
        border-top-color: #f8f8f8;
        border-bottom-color: #f8f8f8;
    }    
}
@media (min-width: 992px) and (max-width: 1199px) {
}
@media (min-width: 1200px) {
}
@media screen and (min-width: 26em) {
    .setup-section h2 {
      -webkit-box-align: end;
              align-items: flex-end;
      -webkit-box-pack: justify;
              justify-content: space-between;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
              flex-direction: row;
    }
}
@media (max-width: 320px) {	
}

@media (max-width: 767px) {
	.generic_content{
		margin-bottom:75px;
	}
}
@media (min-width: 768px) and (max-width: 991px) {
	.col-md-3{
		float:left;
		width:50%;
	}
	.col-md-4{
		float:left;
		width:50%;
	}	
	.generic_content{
		margin-bottom:75px;
	}
}
