@use "../var";

h2 {
	color: #666;
	margin: 0 0 20px 0 ;
}
section {
	display: flex;
}
.invoices {
	margin: 2rem 0 0 1%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	flex: 0 1 99%;
	height: fit-content;
}
.billing-general {
	width: 100%;
	height: fit-content;
}
.billing-details {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	margin: 1% 1% 0 1%;
	flex: 0 1 48%;
	height: fit-content;
}
.field-heading {
	font-weight: 500;
	font-size: 1.1rem;
}
.field-label {
	margin: 20px 0 0 0;
}
.billing-quota {
	position: relative;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	margin: 1% 1% 0 1%;
	flex: 0 48%;
	text-align: center;
	max-height: 190px;
	overflow: hidden;
	canvas {
		position: relative;
		max-width: 250px;
		max-height: 250px;
		padding: 0;
		-moz-user-select: none;
		-webkit-user-select: none;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
	}
}
.pip {
	border-radius: 5px;
	padding: 2px 8px;
	color: #fff;
	min-width: 20px;
	display: inline-block;
	font-size: 13px;
	vertical-align: top;
	background-color: #6d6d6d;
	&.paid {
		background-color: #1a8c27;
	}
}
.card-brand i {
	font-size: 32px;
	vertical-align: sub;
}
.card-brand .mask {
	font-size: 14px;
	vertical-align: middle;
}
