@use "../var";

body {
	overflow: hidden;
}
.container {
	overflow-y: auto;
	overflow-x: hidden;
	height: 94vh;
	&-tabs {
		flex: 100%;
		border-bottom: 1px solid rgba(98, 114, 128, 0.5);
		display: flex;
		flex-flow: row wrap;
		text-align: center;
		background-color: #ececec;
		font-weight: 600;
		font-size: 18px;
		> a {
			flex-direction: column;
			flex: 20%;
			text-decoration: none;
			padding: 10px 0;
			color: #333;
			&:hover, &.active {
				background-color: #f9f9f9;
				border-bottom: 1px solid rgb(26, 187, 156);
			}
			.counter {
				border-radius: 5px;
				color: #fff;
				min-width: 28px;
				display: inline-block;
				font-size: 14px;
				vertical-align: super;
				background-color: #36ccaf;
			}
		}
	}
}
.banner-area {
	background-color: var.$secondary;
	width: 100%;
	height: 27vh;
	color: #e6e6e6;
	padding: 10px 15px;
}
.banner-sections {
	display: flex;
	flex-flow: row wrap;
	height: fit-content;
	width: calc(100% - 25px);
	.heading-area {
		flex: 80%;
		height: fit-content;
	}
	.last-checked {
		flex: 15%;
		height: fit-content;
		text-align: end;
	}
	.domain-actions {
		flex: 5%;
		height: fit-content;
		text-align: right;
	}
	.title {
		border-bottom: rgba(230, 230, 230, 0.3) solid 1px;
		font-size: 20px;
		line-height: 1.4;
		margin: 0 0 10px 0;
		flex-flow: row wrap;
		width: fit-content;
	}
}
.heading-area .heading {
	font-size: 32px;
	margin: 5px 0 0 0;
	i {
		vertical-align: middle;
	}
}
.heading-area .sub-heading {
	font-size: 14px;
	margin: 0px 0 5px 43px;
}
.banner-section.scan-actions {
	flex: 15%;
	flex-flow: row wrap;
	display: flex;
	height: fit-content;
	flex-basis: auto;
}
.banner-section.encryption {
	flex: 25%;
	flex-flow: row wrap;
	height: fit-content;
}
.banner-section.status {
	flex: 10%;
	flex-flow: row wrap;
	height: fit-content;
}
.banner-section.findings {
	flex: 30%;
	flex-flow: row wrap;
	height: fit-content;
}
.banner-section ul {
	list-style: none;
	padding-inline-start: 0;
	margin-block-start: 0;
	margin-block-end: 0;
}
.domain-container {
	display: flex;
	flex-flow: row wrap;
}
.domain-body {
	margin: 20px 0 10px 0;
	flex: auto;
	padding: 0 0 0 10px;
	.fields {
		flex: 100%;
	}
}
.alert.verification {
	flex: 100%;
}
#jobs-list {
	margin: 20px 0 10px 0;
	flex: 100%;
}
#domains-list td div {
	line-height: 1;
	font-size: 24px;
	display: inline-block;
	vertical-align: middle;
	margin: 0 0 0 5px;
}
#domains-list td {
	line-height: 1;
	vertical-align: middle;
	font-size: 14px;
	cursor: pointer;
	a {
		font-size: 15px;
		font-weight: 600;
		color: #3f5367;
	}
	&:nth-child(2), &:nth-child(3) {
		text-align: left;
	}
	&:nth-child(2) {
		font-weight: bold;
	}
	.pip {
		vertical-align: middle;
		font-size: 12px;
	}
	i {
		font-size: 28px;
	}
}
#domains-list th:nth-child(2) {
	text-align: left;
}
#domains-list i.icofont-toggle-on, #domains-list i.icofont-toggle-off {
	font-size: 3rem;
}
.disabled-events a, .disabled-events td, .disabled-events {
	cursor: not-allowed ;
}
.disabled-events a:active {
	touch-action: none;
	pointer-events: none;
}
i.flag-icon {
	vertical-align: text-bottom;
	font-size: 16px  ;
}
i.icofont-red {
	color: rgb(216, 87, 87);
}
i.icofont-yellow {
	color: rgb(218 140 39);
}
i.icofont-green {
	color: rgb(18 140 39);
}
i.icofont-eye-blocked {
	color: #3f5367;
}
.domain-actions > div {
	justify-content: flex-end;
}
#delete-domain:hover i, #toggle-domain:hover i {
	cursor: pointer;
}
#delete-domain i {
	font-size: 1.5rem;
	color: rgb(255, 116, 92);
}
#delete-domain:hover i {
	cursor: pointer ;
	color: rgb(255, 38, 0);
}
.toggle-monitoring .icofont-toggle-on, #toggle-domain .icofont-toggle-on {
	color: rgba(54, 204, 175, 1.0);
}
#toggle-domain i {
	line-height: unset;
	font-size: 3rem;
}
.scan-actions .choices__item {
	color: #34495ef0;
}
.scan-actions .choices {
	margin-bottom: unset;
	width: 75%;
}
#run-action {
	width: calc(25% - 5%) ;
}
.httpheaders-list td:nth-child(1), .dnsrecords-list td:nth-child(1), .knownips-list td:nth-child(1) {
	text-align: start;
}
